<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="icon" href="{{url_for('static', filename='tool.ico')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
<p>题目采集自开课吧，<a href="https://question.kaikeba.com/question">地址</a></p>
</body>
</html>